<!DOCTYPE html>
<html>
<head>
    <link href="css/edit.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container" style="margin-top: 100px">
        <form id="form">
            <div class="form-group">
                <label for="fn">Password</label>
                <input class="form-control" id="pwd" placeholder="P4ssw0rd!">
            </div>
            <div class="form-group">
                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script>
        $("#form").submit(function(event) {
            if (checkInputs()) {
                window.location.replace(`./login?password=${$('#pwd').val()}`);
            } else {
                alert("Please type your password!");
            }
            event.preventDefault();
        });

        function checkInputs() {
            let has_password = $("#pwd").val() != "";

            return has_password;
        }
    </script>
</body>
</html>