<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lab 6</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="Earth">
                <a class="nav-link" href="./earth">Earth</a>
            </li>
            <li class="nav-item" id="Jupiter">
                <a class="nav-link" href="./jupiter">Jupiter</a>
            </li>
            <li class="nav-item" id="Mars">
                <a class="nav-link" href="./mars">Mars</a>
            </li>
            <li class="nav-item" id="Saturn">
                <a class="nav-link" href="./saturn">Saturn</a>
            </li>
            <li class="nav-item" id="Mercury">
                <a class="nav-link" href="./mercury">Mercury</a>
            </li>

        </ul>
    </div>
</nav>