html, body {
    height: 100%;
    width: 100%;
    text-align: center;
}

span {
    border: 1px solid black;
}
#imageDisplay {
    display: flex;
}
img {
    max-width: 25%;
    height: auto;
    flex: 1;
}