html, body {
    height: 100%;
    width: 100%;
    text-align: center;
}

#imageDisplay, #likesDisplay {
    display: flex;
    justify-content: space-around;
}
img {
    justify-content:space-between;
    max-width: 25%;
    height: auto;
    flex: 1;
    border-radius: 25px;
}